<app-navigation></app-navigation>
<div class="container-fluid">
  <div class="row">
    <app-sidebar-menu></app-sidebar-menu>
    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Panel de trabajo.</h1>

      </div>

      <router-outlet></router-outlet>
      <footer class="my-5 pt-5 text-muted text-center text-small">
        <p class="mb-1">© 2020 IAS HandyMan</p>

      </footer>
    </main>

  </div>
</div>
