<nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
  <div class="sidebar-sticky pt-3">
    <ul class="nav flex-column">
      <li class="nav-item">
        <a class="nav-link active" routerLink="/">
      <li class="fa fa-home fa-2x"></li>
      Dashboard <span class="sr-only">(current)</span>
      </a>
      </li>
    </ul>
    <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
      <span>Procesos</span>
      <a class="d-flex align-items-center text-muted" href="#" aria-label="Add a new report">
        <i class="fa fa-laptop fa-2x"></i>
      </a>
    </h6>
    <ul class="nav flex-column mb-2">
      <li class="nav-item">
        <a class="nav-link" routerLink="servicios" routerLinkActive="active">
          <i class="fa fa-edit"></i>
          Registrar Servicio
        </a>
      </li>
    </ul>
    <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
      <span>Reportes</span>
      <a class="d-flex align-items-center text-muted" href="#" aria-label="Add a new report">
        <i class="fa fa-calendar fa-2x"></i>
      </a>
    </h6>
    <ul class="nav flex-column mb-2">
      <li class="nav-item">
        <a class="nav-link" routerLink="calculadora" routerLinkActive="active">
      <li class="fa fa-calculator"></li>
      Calculadora de horas
      </a>
      </li>
    </ul>
  </div>
</nav>
